{% extends "base.html" %}

{% load static %}

{%   block content   %}
            
              
<!-- start wrapper  -->
<div class="wrapper d-grid gap-20 mt-20">
  <!-- start add information  -->
  <div class="formadd bg-white rad-10 text-c-mobile block-mobile">
    <!-- <div class="personelinfo d-flex justify-content b-yellow rad-10-per">
                        <h2 class="">معلومات الزبون</h2>
                    </div> -->
    <!-- <div class="personelinfo d-flex p-10 c-white bg-per rad-10 m-20">
                        <h3 class="m-0">معلومات الحساب البريدي</h3>
                    </div> -->
    <form class="">
      {% csrf_token %}
      <div class="container">
      <input type="text" id="search" placeholder="ابحث عن عامل..." autocomplete="off">
      <ul id="results"></ul>
       </div>
   

    </form>
     {% for x in pro %}
     
  <a href="{% url "update" x.id %}" ><i class="fa-solid fa-pen-to-square"></i></a>
  <a href="{% url "delete" x.id %}" ><i class="fa-solid fa-trash"></i></a>
  
  <h1>{{x}}</h1>
  {% endfor %}
  </div>
 
  
  <!-- end add information  -->
  <!-- start add payment info  -->
  
  {% comment %} <div class="formaddpay bg-white rad-10 text-c-mobile block-mobile">
    <form class="">
      <div class="pf-20 d-fform">
        <label for="ccp" class="w-50">المبلغ الاصلي </label>
        <label for="cle" class="w-15"> النسبة </label>
        <label for="cle" class="w-35"> عدد الاشهر </label>
      </div>
      <div class="d-fform pf-20">
        <input id="totalAmount" type="text" name="ccp" class="" />
        <div class="cld w-50">
          <input
            type="number"
            id="annualRate"
            name="cle"
            class="w-30"
            minlength="2"
            maxlength="2"
            value="35"
          />

          <input
            type="number"
            id="months"
            name="cle"
            class="par-25 w-30"
            max="2"
            value="12"
          />
          <i id="iconplus" class="fa-solid fa-plus fa-2xl p-relative"></i>
        </div>
      </div>
      <div id="secondmonton" class="hide">
        <div id="secondcl" class="pf-20 d-fform">
          <label for="ccp" class="w-50">المبلغ الثاني </label>
          <label for="cle" class="w-50"> النسبة </label>
          <i id="iconminus" class="fa-solid fa-minus fa-2xl p-relative"></i>
        </div>
        <div class="d-fform pf-20">
          <input
            id="totalAmounttwo"
            type="text"
            name="totalAmounttwo"
            class=""
            value=""
          />
          <div class="cld w-50">
            <input
              id="annualRatetwo"
              type="number"
              name="annualRatetwo"
              class="w-30"
              maxlength="2"
            />
          </div>
        </div>
      </div>

      <div class="pf-20 d-fform m-t30">
        <label for="ccp" class="w-25">الدفعة الاولية </label>
        <i id="iconplusdis" class="fa-solid fa-plus fa-2xl p-relative"></i>
        <div class="w-75 hide" id="disbut">
          <input id="discountprice" type="number" name="ccp" class="w-50" />
          <i id="iconminusdis" class="fa-solid fa-minus fa-2xl p-relative"></i>
        </div>
      </div>
    </form>
    <div class="p-20">
      <h2 class="b-yelllow w-75">
        المبلغ الاصلي :<span id="fprice" class="p-20"></span>
      </h2>
      <div class="b-yelllow w-75">
        <h2 class="">
          النسبة :<span id="perce" class="p-20"></span> عدد الاشهر :<span
            id="monthc"
            class="p-20"
          ></span>
        </h2>
        <!-- <h2 class="">عدد الاشهر<span class="p-20">1200000</span></h2>  -->
      </div>

      <h2 class="b-yelllow w-75">
        المبلغ بالنسبة :<span id="perpri" class="p-20"></span>
      </h2>
      <h2 class="b-green w-75">
        الاقتطاع الشهري :<span id="monthlycut" class="p-20"></span>
      </h2>
    </div>
  </div> {% endcomment %}
  <!-- end add payment info  -->
</div>
<!-- end wrapper  -->
<div class="botoni p-absolute">
  <button id="bobo" type="submit" class="btn-print">
    <i class="fa-solid fa-print"></i>طباعة وثائق البلدية
  </button>
</div>

{% endblock content %}  
{% block scripts %}
    <script src="{% static 'js/worker.js'%}" ></script>
{% endblock scripts %}
{% csrf_token %}